// Colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$grey-800: hsl(0, 0%, 27%);
$grey-500: hsl(0, 0%, 63%);
$grey-200: hsl(0, 0%, 85%);
$grey-100: hsl(0, 0%, 94%);
$grey-50: hsl(0, 0%, 98%);

// Spacing
$spacing-0: 0px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-600: 48px;
$spacing-700: 56px;
$spacing-800: 64px;
